<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c88fc5da2a.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap"
    rel="stylesheet">
  <title>Summary_Igor_Lenko</title>
  <link rel="stylesheet" href="./assets/styles/style.css">
  <link rel="stylesheet" href="./assets/styles/media.css">

</head>

<body>
  <div id="app">
    <header class="container">
        <div class="header">
            <div class="header-left_block">
              <h1 class="header-fio">{{ user.fullName }}</h1>
              <h2 class="header-title_job">{{ user.jobTitle }}</h2>
              <div class="header-contacts">
                <div 
                  v-for="{ title, href, value, target=undefined } in user.contacts"
                  class="header-contacts_item"
                >
                  <p class="header-contacts_item-title">{{ title }}</p>
                  <a v-bind:href="href" v-bind:target="target">{{ value }}</a>
                </div>
              </div>
            </div>
            <div class="header-image">
              <img
                v-bind:src="user.avatar.src"
                v-bind:alt="user.avatar.alt"
                v-bind:title="user.avatar.title"
                width="100px"
                height="100px"
              >
            </div>

        </div>
        <div class="header-btn">
            <button id="btn">{{ lgBtnTitle }}</button>
        </div>
    </header>
    <main class="main container">
      <div class="left_block">
        <h3 class="bg-grey">{{ titles.TECH_SKILLS }}:</h3>
        <div v-for="{ title, skills } in techSkills">
          <h4>{{ title }}:</h4>
          <ul>
            <li v-for="{ name, level } in skills" class="item">
              <span>{{ name }}</span><span>{{ level }}</span>
            </li>
          </ul>
        </div>
  
        <h3 class="bg-grey">{{ titles.LANGUAGES }}:</h3>
        <p v-for="{ name, level } in languages">
          {{ name }}: {{ level }}
        </p>
      </div>

      <div class="right_block">
        <h3 class="bg-grey">{{ titles.ABOUT_MYSELF }}:</h3>
        <p class="selfPresentation_text">{{ selfPresentation }}</p>
  
        <h3 class="bg-grey">{{ titles.EXPERIENCE }}:</h3>
        <div
          v-for="{
            period,
            company,
            jobTitle,
            responsibilities,
            achievementTitle,
            achievements,
          } in experience"
          class="experience"
        >
        <h4 class="company">{{ company }}</h4>
        <p class="job_title">{{ jobTitle }}</p>
        <div class="period">
          <i class="far fa-calendar-alt"></i>
          <p>{{ period }}</p>
        </div>


          <ul class="list">
            <li v-for="item in responsibilities" class="item">
              <span>{{ item }}</span>
            </li>
          </ul>
          <p class="achivment_title">{{ achievementTitle }}</p>
          <ul class="list">
            <li v-for="item in achievements" class="item">
              <span>{{ item }}</span>
            </li>
          </ul>
        </div>
  
        <h3 class="bg-grey">{{ titles.EDUCATION }}:</h3>
        <div
          v-for="{ name, subject, period } in educations"
          class="education"
        >
          <h4>{{ name }}</h4>
          <p class="subject">{{ subject }}</p>
          <div class="period">
            <i class="far fa-calendar-alt"></i>
            <p>{{ period }}</p>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script type="module" src="app.js"></script>
</body>

</html>