@media all and (max-width:1020px){
  .conteiner {
    width: 800px;
  }
  .name, .summary {
    flex-basis: 340px;
  }  
}
@media all and (max-width:820px){
  .conteiner {
    width: 600px;
  }
  .name, .summary {
    flex-basis: 250px;
  } 
}  
@media all and (max-width:620px){
  .conteiner {
    width: 500px;
  }
  .name, .summary {
    flex-basis: 200px;
  } 
}  
@media all and (max-width:520px){
  .conteiner {
    width: 320px;
    flex-direction: column;
    padding: 5px 15px;
  }
  .bord {
    margin-top: 25px;
  }
  .summary {
    padding-top: 0px;
  }
  
} 