* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}
body {
  background-color:#808080a3;
}
h3 {
  margin: 15px 0;
  background-color: #cac6c62e;
}
h4 {
  margin-top: 10px;
}
p,
li {
  font-size: 17px;
}
a {
  color: black;
  display: block;
}
a:hover {
  color: rgb(5, 172, 163);
  font-weight: bold;
}
.conteiner {
  width: 800px;
  border: 1px solid #ece4e4;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px 0;
  background-color: white;
}
.name{
  flex-basis: 250px;
}
.summary {
  padding-top: 44px;
  flex-basis: 430px;
}
.bord {
  border: 1px solid #ece4e4;
  margin-top: 65px;
}
.name a:first-of-type {
  text-decoration: none;
}
.name > ul {
  margin-left: 19px;
}
.name > ul > li + ul {
  margin-left: 15px;
  list-style-type: none;
}
.experience:not(:first-of-type) {
  padding-top: 20px;
}

.experience > h4 {
  font-size: 18px;
  text-decoration: underline;
}

.projects-item {
  padding-left: 10px;
}

.projects-item ul {
  list-style-type: none;
  padding-left: 10px;
}